.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
}

.form {
  width: 420px;
  //box-shadow: var(--mantine-color-yellow-9) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  //background-color: var(--mantine-color-dark-7);
}

.content {
  padding-left: 12%;
  padding-right: 12%;
}

.title {
  text-align: center;
  color: var(--mantine-color-yellow-4);
}

.error {
  text-align: center;
  margin-bottom: 1em;
  font-size: 20px;
  color: rgb(255, 0, 0);
  font-weight: 400;
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: var(--mantine-color-gray-5);
}